@import "partials/variables";

//*home-feedbacks-start
.home-feedbacks {
    padding: 155px 0;
    .heading {
        .section-heading {
            text-align: center;
            padding-bottom: 80px;
            h1 {
                font-size: 18px;
                font-weight: 600;
                display: inline-flex;
                position: relative;
                color: $secondary-color;
                &:before {
                    content: "";
                    height: 25px;
                    width: 25px;
                    background-color: rgba(0, 160, 255, 0.3);
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: -2px;
                    left: -6px;
                }
            }
            h2 {
                font-size: 42px;
                font-weight: 600;
            }
        }
    }
    .feedbacks-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        padding: 60px 40px;
        .img {
            img {
                padding-bottom: 10px;
            }
        }
        .content {
            padding-bottom: 20px;
            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 1.9;
                color: $text-color;
            }
        }
        .officer {
            margin-bottom: -170px;
            .officer-img {
                img {
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                }
            }
            .officer-info {
                padding-top: 10px;
                display:inline-block;
                text-align: center;
                margin-left: 5px;
                h3 {
                    font-size: 18px;
                    font-weight: 500;
                }
                h4 {
                    font-size: 12px;
                    font-weight: 400;
                    color: $text-color;
                }
            }
        }
    }
}
//*home-feedbacks-end

//about-feedback-section-start//*
.about-feedbacks {
    padding-top: 120px;
    background-color: $background-color;
    padding-bottom: 100px;
    .feedbacks {
        padding: 30px;
        .heading {
            .circle {
                height: 25px;
                width: 25px;
                background-color: rgba(0, 160, 255, 0.2);
                border-radius: 50%;
                display: block;
                margin-top: 3px;
                position: absolute;
            }
            h5 {
                font-size: 18px;
                font-weight: 500;
                color: $secondary-color;
                padding-top: 5px;
                padding-left: 8px;
            }
        }
        .comment {
            h1 {
                margin-top: 10px;
                font-size: 45px;
                font-weight: 600;
                line-height: 1.3em;
            }
        }
        .description {
            p {
                margin-top: 30px;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.9em;
            }
        }
        .arrow {
            margin-top: 60px;
            .arrow-left {
                .circle {
                    height: 40px;
                    width: 40px;
                    background-color: rgb(43, 255, 0);
                    border-radius: 50%;
                    display: block;
                    margin-top: 3px;
                    position: absolute;
                    text-align: center;
                }
                i {
                    position: relative;
                    margin-top: 13px;
                    margin-left: 12px;
                    color: white;
                    font-size: 20px;
                }
            }
            .arrow-right {
                margin-left: 50px;
                .circle {
                    height: 40px;
                    width: 40px;
                    background-color: rgba(0, 162, 255, 0.911);
                    border-radius: 50%;
                    display: block;
                    margin-top: 3px;
                    position: absolute;
                    text-align: center;
                }
                i {
                    position: relative;
                    margin-top: 13px;
                    margin-left: 12px;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
    .complement-card {
        margin: 20px 40px;
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.9em;
        }
        .officer {
            .officer-info {
                h1 {
                    font-size: 18px;
                    font-weight: 500;
                }
                h2 {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }
}
//about-feedbacks-section-end//*

//service-feedbacks-section-start//*
.service-feedbacks{
    padding: 80px 0;
    .heading {
        .section-heading {
            text-align: center;
            padding-bottom: 80px;
            h3 {
                font-size: 18px;
                font-weight: 600;
                display: inline-flex;
                position: relative;
                color: $secondary-color;
                &:before {
                    content: "";
                    height: 25px;
                    width: 25px;
                    background-color: rgba(0, 160, 255, 0.3);
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: -2px;
                    left: -6px;
                }
            }
            p {
                font-size: 42px;
                font-weight: 600;
            }
        }
    }
    .sf-card{
        background-color: white;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        padding: 0 50px 40px;
        .card-img{
            padding-bottom: 20px;
            img{
                margin-top: -50px;
            }        
        }
        p{
          font-size: 18px;
          font-weight: 400;
          color: $text-color;
          line-height: 2;
          margin-right: 50px;
        }
        img{
            padding: 20px 0;
            max-width: 100%;
        }
        .sf-officer{
            align-items: center;
            img{
                border-radius: 50%;
                height: 120px;
                width: 80px;
            }
            .content{
                margin-left: 20px;
                h4{
                    font-size: 18px;
                    font-weight: 500;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: $text-color;
                    line-height: 0;
                }
            }
        }
    }
}
//service-feedbacks-section-end//*