/*color-start*/

$primary-color:#11D4BD;
$secondary-color:#00A0FF;
$heading-color:#191E28;
$text-color:#606165;
$shadow-color:rgba(155,155,155, 30%);
$background-color:#F7FAFC;

/*color-end*/

/*font-size-start*/
$h1:20px;
$h2:15px;
$h3:15px;
$h4:15px;
$h5:15px;
$h6:15px;
$p:15px;
/*font-size-end*/